<h1>Create A New Job!</h1>

<form class="" action="/jobs" method="post">
    <label for="">Title:</label>
    <input type="text" name="title" value="">
    <label for="">Image URL:</label>
    <input type="text" name="image_url" value="">
    <label for="">Description:</label>
    <input type="text" name="description" value="">
    <input type="submit" name="" value="Create A New Job">
</form>
