@media screen {
	/* --- Reset Styles --- */
	* {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	html, body {
		height: 100%;
		width: 100%;
	}
	/* --- Welcome Page Styles --- */
	body {
		background-color: #F23D4C;
		color: #333;
		font-family: 'Roboto', sans-serif;
		line-height: 18px;
	}
	.wrapper {
		background: #ffffff;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
		box-shadow: 0 0 10px rgba(0,0,0,.3);
		margin: 16px auto;
		max-width: 900px;
		padding: 2.25%;
		/* 18px / 800px */
		width: 85%;
	}

	.flex-container {
		display: flex;
		width: 900px;
		height: 200px;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		overflow: hidden;
		object-fit: cover;
		margin-bottom: 30px;
	}
    
	h1 {
		font-size: 36px;
		line-height: 54px;
		color: #021226;
	}
	h2 {
		border-bottom: 2px solid #ccc;
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 16px;
		color: #021226;
	}
	h3 {
		font-size: 18px;
		line-height: 36px;
		color: #021226;
	}
	p {
		margin-bottom: 18px;
		color: #021226;
	}
	.main {
		overflow: hidden;
	}
	.container {
		box-shadow: 0 0 10px rgba(0,0,0,.3);
		background-color: #fff;
		margin: 16px auto;
		max-width: 900px;
		height: 500px;
		padding: 2.25%;
	}
	.content {
		float: left;
		width: 60%;
		padding-top: 8pt;
		padding-bottom: 8pt;
		/* 480px / 800px */
	}
	/*.sidebar {
	 	background: #D0ECF2;
	 	float: right;
	 	vertical-align: middle;
	 	list-style: none;
	 	margin: 10px 0;
	 	padding: 0;
	 	object-fit: scale-down;  }
*/
	.sidebar ul {
		font-size: 14px;
	}
	.branding {
		clear: both;
	}
	footer.branding {
		border-top: 2px solid #ccc;
		margin-top: 20px;
		padding-top: 20px;
	}
}
@media screen and (max-width: 600px) {
	.wrapper {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		width: 85%;
	}
	.content, .sidebar {
		float: none;
		width: 100%;
	}
	.sidebar {
		background: transparent;
		border: none;
		border-top: 2px solid #ccc;
		padding: 0;
	}
	h1 {
		font-size: 24px;
		line-height: 36px;
	}
	h2 {
		font-size: 18px;
		line-height: 24px;
	}
	img {
		width: 50%;
		height: 50%;
		object-fit: cover;
	}
}
