@media screen {
	/* --- Reset Styles --- */
	* {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	html, body {
		height: 100%;
		width: 100%;
	}
	/* --- Welcome Page Styles --- */
	body {
		background-image: url("https://secure.img1-fg.wfcdn.com/im/83187001/compr-r85/4860/48606489/59-x-28-clawfoot-soaking-bathtub.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		color: #333;
		font-family: 'Roboto', sans-serif;
		line-height: 18px;
	}
	.wrapper {
		background: #A1A1A6;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
		box-shadow: 0 0 10px rgba(0,0,0,.3);
		margin: 16px auto;
		max-width: 900px;
		padding: 2.25%;
		/* 18px / 800px */
		width: 85%;
	}

	.flex-container {
		display: flex;
		width: 900px;
		height: 200px;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		overflow: hidden;
		object-fit: cover;
		margin-bottom: 30px;
	}
    
	h1 {
		margin: 0 auto 46px;
		color: #fff;
		font: 20px Helvetica;
		text-transform: uppercase;
		letter-spacing: 3px;
	  }

	h2 {
		margin: 0 auto 28px;
		color: #fff;
		font: 20px Helvetica;
		letter-spacing: 3px;
	}

	h3 {
		margin: 0 auto 20px;
		color: #fff;
		font: 20px Helvetica;
		letter-spacing: 3px;
	}

	p {
		margin-bottom: 18px;
		color: #ffffff;
		font: 20px Helvetica;
	}

	.main {
		overflow: hidden;
	}
	.container {
		box-shadow: 0 0 10px rgba(0,0,0,.3);
		background-color: #89888C;
		margin: 16px auto;
		max-width: 900px;
		height: 500px;
		padding: 2.25%;
	}
	.content {
		float: left;
		width: 60%;
		padding-top: 8pt;
		padding-bottom: 8pt;
		/* 480px / 800px */
	}
	/*.sidebar {
	 	background: #D0ECF2;
	 	float: right;
	 	vertical-align: middle;
	 	list-style: none;
	 	margin: 10px 0;
	 	padding: 0;
	 	object-fit: scale-down;  }
*/
	.nav {
		justify-content: space-evenly;
		margin: 0 auto 46px;
		color: #fff;
		font: 20px Helvetica;
		text-transform: uppercase;
		letter-spacing: 3px;
		text-align: center;
	}

	.scroll {
		margin: 16px auto;
		max-width: 900px;
		height: 500px;
		padding: 2.25%;
		overflow-wrap: normal;
		overflow: scroll;
	}

	.sidebar ul {
		font-size: 14px;
	}
	.branding {
		clear: both;
	}
	footer.branding {
		border-top: 2px solid #ccc;
		margin-top: 20px;
		padding-top: 20px;
	}
}
@media screen and (max-width: 600px) {
	.wrapper {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		width: 85%;
	}
	.content, .sidebar {
		float: none;
		width: 100%;
	}
	.sidebar {
		background: transparent;
		border: none;
		border-top: 2px solid #ccc;
		padding: 0;
	}
	h1 {
		font-size: 24px;
		line-height: 36px;
		font: Helvetica;
		text-transform: uppercase;
		letter-spacing: 3px;
	}
	h2 {
		font-size: 18px;
		line-height: 24px;
		font: Helvetica;
		letter-spacing: 3px;
	}
	img {
		width: 50%;
		height: 50%;
		object-fit: cover;
	}
}
