<h2><%= @user.name %></h2> 

<div class="content">
    <img src="<%= @user.image_url %>" alt="User Avatar Picture">
</div>
<p><strong>Email: </strong><%= @user.email %></p>

<p><strong>Bio: </strong><%= @user.bio %></p>

<strong><a href="/logout">Log Out</a></strong>
