<div class="container">

    <h1>User Name: <%= @user.name %></h1> 

    <div class="content">
        <img src="<%= @user.image_url %>" alt="User Avatar Picture" height="250pv" width="250pv">
    </div>
    <p><strong>Email: </strong><%= @user.email %></p>

    <p><strong>Bio: </strong><%= @user.bio %></p>
</div>