 <div class="container">    
    <h2>Create an account and get things done!</h2>

    <form action="/users" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value=""><br><br>
        <label for="bio">Bio:</label>
        <input type="text" name="bio" id="bio" value="" size="100"><br><br>
        <label for="image_url">Image Url:</label>
        <input type="text" name="image_url" id="image_url" value="" size="100"><br><br>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" value=""><br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" value=""><br><br>
        <input type="submit" name="" value="  Sign Up  ">
    </form>

</div>

<!-- # <div class="sidebar"> -->
<!-- #     <img src="/images/day55-living-room-interior.png" alt="Living Room Cartoon"> -->
<!-- #     <img src="/images/day56-tv-room.png" atl="Tv Room Cartoon"> -->
<!-- #     <img src="/images/day57-reading-room.png" alt="Reading Room Cartoon"> -->
<!-- #     <img src="/images/day58-bedroom.png" alt="Bedroom Cartoon"> -->
<!-- #     <img src="/images/day59-kitchen.png" alt="Kitchen Cartoon"> -->
<!-- #     <img src="/images/day60-bathroom.png" alt="Bathroom Cartoon"> -->
<!-- # </div> -->