<div class="container">
  <header><img src="images/Inner_cleaner_app.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Inner Cleaner App!</h2>

    <div class="content">    
      <p>The app to know who does what around the house.</p><br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/qI8HgQxNOac" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>Please sign up and start reporting what you do to keep the house clean.</p><br>
    </div>

    

  </div>
</div>
