<div class="container">
<h1>Welcome to the Inner Cleaner App!</h1>
<h2>The app to know who does what around the house.</h2><br>
  <header><img src="images/Inner_cleaner_app.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    

    <div class="content">    
      <strong><p>Please sign up and start reporting what you do to keep the house clean.</p></strong><br>
      <media>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qI8HgQxNOac" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </media>
    </div>

    

  </div>
</div>
