<div class="container">
<h1>Welcome to the Inner Cleaner App!</h1>
<h2>The app to know WHO does WHAT around the house.</h2><br>
  
  <div class="content">
  <p>Please <a href="/login">Log In</a> OR <a href="/signup">Sign Up</a> to get started!</p>
  </div>

  <div class="col-md-8 col-md-offset-2">
  
    <media>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Ln210-k9cf4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </media>
  </div>
</div>